{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis compras</h2>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Título</th>
				<th>Detalle</th>
				<th>Precio</th>
				<th>Vendedor</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for oferta in ofertas %}
			<tr>
				<td>{{ oferta.titulo }}</td>
				<td>{{ oferta.detalle }}</td>
				<td>{{ oferta.precio }} €</td>
				<td>{{ oferta.autor }} </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
