{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis publicaciones</h2>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/ofertas/agregar" class="btn btn-info" role="button">Agregar oferta</a>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Título</th>
				<th>Detalle</th>
				<th>Precio</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for oferta in ofertas %}
			<tr>
				<td>{{ oferta.titulo }}</td>
				<td>{{ oferta.detalle }}</td>
				<td>{{ oferta.precio }} €</td>
				<td>
					<a href="/ofertas/eliminar/{{ oferta._id.toString() }}">Eliminar</a>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
